[Unit]
Description=diamond service for <diamond-name>
After=multi-user.target

[Service]
# Base settings
Type=simple
Restart=always
RestartSec=10

# Execution parameters
User=<diamond-name>
Group=<diamond-name>
WorkingDirectory=<diamond-home>
ExecStart=<diamond-command>

# Limit damage in case something goes awry
MemoryLimit=<diamond-ram-limit>
CPUQuota=<diamond-cpu-limit>

# Security
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
PrivateDevices=true
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
